.banner__img {
    background: url('/arquitectura-css-base-main/arquitectura-css-base-main/assets/img/banner.png') no-repeat center / cover;
    width: 100%;
    height: calc(100vh - 73px);
}

@media screen and (min-width: 0) {
    .banner__img {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__img {
        height: calc(100vh - 73px);
    }
}